.root {
    width: 80%;
}

.root > div {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.root > svg {
    position: absolute;
    left: 4px;
    cursor: pointer;
}

.btnFilter {
    font-weight: 400;
    background: #e3e3e3;
    border-color: #adadad;
    border-color: #adadad;
    padding: 10px 20px;
}

.btnFilter:focus {
    outline: none;
}

.FilterData {
    -st-states: isShow;
    width: 100%;
    height: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    z-index: 100000000000;
    top: 0;
    overflow: hidden;
    background-color: #babbbd;
    transition: height ease 0.2s;
    overflow: auto;
}

.FilterData:isShow {
    height: 234px;
}

.selectEditTask {
    padding: 6px 44px 6px 10px;
    outline: none;
}

.selectEditTask:active {
    border-color: #007bdb;
    background-color: transparent;
}

.selectEditTask > option {
    font-size: 14px;
    padding: 10px;
    height: 44px;
}

.itemFilter {
    width: 192px;
    margin-left: 14px;
    padding-left: 20px;
    margin-top: 6px;
}

.itemFilter:first-child {
    display: flex;
    margin-left: 12px;
    width: 244px;
    padding-left: 0px;
}

.itemFilter:first-child > div {
    margin-top: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.itemFilter > h4 {
    margin: 0;
    margin-bottom: 5px;
    margin-right: 10px;
}

.itemFilter:first-child > h4 {
    margin: 0;
    margin-top: 4px;
}

.itemFilter:last-child {
    display: flex;
    justify-content: space-between;
}

.itemFilter:last-child > button {

    padding: 0 10px;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 54px;
}

.inputFilter {
    max-height: 44px;
    width: 100%;
    border: 1px solid #adadad;
    padding: 6px 10px;
    outline: none;
}

.inputFilter:hover {
    border-color: #6a6a6a;
}

.cancel {
    color: #007bdb;
}

.apply {
    background-color: #514843 !important;
    color: #fff;
}

.apply:hover {
    border: 1px solid #007bdb !important;
}

.cancel:hover {
    text-decoration: underline;
}
