.root {
    margin-left: 6.9rem;
    padding-top: 60px;
}


.headerPagePro {
    margin-top: 50px;
    margin-bottom: 1.2rem;
    padding: 1.5rem 3rem;
}


.headerPagePro > h1 {
    margin: 0;
    color: #41362f;
    font-size: 28px;
    margin-bottom: 0;
    word-break: break-all;
    font-weight: 400;
}

.pageContent {
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.btnActionPage {
    margin-bottom: 3rem;

    background: #f8f8f8;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 1.5rem;
}

.addBtn {
    display: flex;
    justify-content: flex-end;
}

.btnPrimary {
    background-color: #eb5202;
    border-color: #eb5202;
    color: #fff;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    font-size: 16px;
    letter-spacing: .025em;
    padding: 11px 16px;
    border: none;
    outline: none;
    border-right: 1px solid #333;
}


.actionPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 25px;
}

.actionPageTop,
.actionPageBottom {
    display: flex;
    justify-content: space-between;
}



.btnFilter {
    border: 1px solid;
    border-radius: 0;
    display: inline-block;

    font-weight: 600;
    line-height: 1.36;
    padding: 0.6rem 1em 0.6rem;
    text-align: center;
    vertical-align: baseline;
    font-size: 13px;
    background-color: #e3e3e3;
    padding: 7px 21px 6px 17px;
    color: #514943;
    border-color: #adadad;
}

.actionPageWrapLeft {
    display: flex;
}

.actionBtnSelect {
    position: relative;
    display: flex;

}

.actionSelect {
    width: 100%;
    border: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    font-weight: 400;
    text-align: left;
    border-color: #adadad;
    color: #514943;
    outline: none;
    font-size: 14px;
    padding: 6px 32px 6px 14px;
    padding-right: 199px;

}

.actionSelect::before {
    background-color: #e3e3e3;
    border: 1px solid #adadad;
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3.2rem;
}

.actionSelect::after {
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 0.5rem 0.4rem 0 0.4rem;
    content: '';
    height: 0;
    margin-top: -0.2rem;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transition: all .2s linear;
    width: 0;
}


.dataGridPagerWrap {
    display: flex;
    align-items: center;
}





.textPage {
    border: 1px solid transparent;
    display: inline-block;
    font-size: 14px;
    line-height: 1.36;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    margin-left: 0.7rem;
}


.pageColumns {
    display: grid;
    grid-template-columns: 3% 3.5% 14% 20% 13% 12% 11% 8% 8.5% 7%;

}
