.root {
    -st-states: typeColumn(enum(id));
    font-size: 14px;

    /* background-color: #31302b; */
    /* z-index: 600;
    margin-bottom: 1px; */
    /* color: #FFF; */
    /* float: left;
    width: 100%;
    position: absolute;
    top: 0; */
    display: flex;
    padding: 7px 10px;
    max-height: 44px;
    align-items: center;
    position: relative;
    width: 100%;
    /* border: 0.1rem solid #adadad; */
    border-bottom: 0.1rem solid #c2c2c2;
    box-shadow: 0 5px 5px rgb(0 0 0 / 25%);
}

.root:typeColumn(id) {
    height: 44px;
}

.root > span {
    padding-left: 5px;
}

.inputEditTask {
    max-height: 44px;
    width: 100%;
    border: 1px solid #adadad;
    padding: 6px 10px;
}

.inputEditTask:hover {
    border-color: #878787;
}

.inputEditTask:focus {
    border-color: #007bdb;
    box-shadow: none;
    outline: 0;
}



.btn {
    background-color: transparent;
    border: 1px solid #adadad;
}

/* .btnToglle:focus {
    border: none;
    box-shadow: none;
   
} */

.btnStatus:focus {
    border-color: #007bdb;
}

.btnToglle:focus {
    border-color: #007bdb;
}

.btnEnable {
    border: none;
}

.btnDisable {
    border: none;
}


.selectEditTask {
    padding: 6px 44px 6px 10px;
    outline: none;
}

.selectEditTask:active {
    border-color: #007bdb;
    background-color: transparent;
}

.selectEditTask > option {
    font-size: 14px;
    padding: 10px;
    height: 44px;
}
