.root {

    font-size: 14px;
    display: flex;
    padding: 7px 10px;
    height: 44px;
    align-items: center;
    width: 100%;
    z-index: 10;
    border-bottom: 0.1rem solid #c2c2c2;
    box-shadow: 2px 3px 4px 0px rgb(0 0 0 / 7%);
    background-color: #fff
}


.root > span {
    padding-left: 5px;
}


.itemEdit {
    -st-states: typeColumn(enum(id, actions, status, name, position, extn, salary, start_date, office));
    width: 100%;
}

.itemEdit:typeColumn(id) {
    width: 0%;
    margin: 0;
}

.itemEdit:typeColumn(actions) {
    width: 0%;
    margin: 0;
}

.itemEdit:typeColumn(status) {
    width: 31%;
}

.itemEdit:typeColumn(name) {
    width: 67%;
    margin-right: 17px;

}

.itemEdit:typeColumn(position) {
    width: 80%;
    margin-right: 15px;
}

.itemEdit:typeColumn(salary) {
    width: 45%;
    margin-right: 17px;
}

.itemEdit:typeColumn(extn) {
    width: 30%;
    margin-right: 16px;
}

.itemEdit:typeColumn(start_date) {
    width: 70%;
}

.itemEdit:typeColumn(office) {
    width: 69%;
    margin-right: 12px;
}

.inputEditTask {
    -st-states: typeColumn(enum(name, position, extn, salary, start_date));
    max-height: 44px;
    width: 100%;
    border: 1px solid #adadad;
    padding: 6px 10px;

}

.inputEditTask:typeColumn(name) {
    width: 100%;

}

.inputEditTask:typeColumn(position) {
    width: 100%;

}



.inputEditTask:typeColumn(extn) {
    width: 100%;

}

.inputEditTask:typeColumn(salary) {
    width: 100%;

}



.inputEditTask:typeColumn(start_date) {
    width: 100%;

}


.inputEditTask:hover {
    border-color: #878787;
}

.inputEditTask:focus {
    border-color: #007bdb;
    box-shadow: none;
    outline: 0;
}



.btn {
    background-color: transparent;
    border: 1px solid #adadad;
}


.btnStatus:focus {
    border-color: #007bdb;
}

.btnToglle:focus {
    border-color: #007bdb;
}

.btnEnable {
    border: none;
}

.btnDisable {
    border: none;
}


.selectEditTask {
    -st-states: typeColumn(enum(office, status));
    padding: 6px 14px 6px 10px;
    outline: none;
    width: 100%;
}

.selectEditTask:typeColumn(office) {
    width: 100%;

}

.selectEditTask:typeColumn(status) {
    width: 100%;
}

.selectEditTask:active {
    border-color: #007bdb;
    background-color: transparent;
}

.selectEditTask > option {
    font-size: 14px;
    padding: 10px;
    height: 44px;
}
