.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
}


.dataTablesInfo {}


.dataTablesPaginate {}




.actionPrevious {
    margin-right: 2.5rem;
    text-indent: -0.25em;
    width: 44px;
    border-color: #adadad;

}


/* .actionPrevious::before {
    content: '<';

} */

.actionNext {
    margin-left: 2.5rem;
    text-indent: -0.25em;
    width: 44px;
    border-color: #adadad;

}



.inputPaginate {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: 6px 10px;
    transition: border-color .1s linear;
    vertical-align: baseline;
    width: auto;
    text-align: center;
    width: 44px;
    outline: none;
}
