:vars {
    colorCategory: #007dbd;
    colorHover: #f5f5f5;
    colorNav: #ffffff;
    backgroundColor: #31302b;
    colorBlue: #007dbd;
}

:global(*),
:global(::before),
:global(::after) {
    box-sizing: border-box;
}

:global(html),
:global(body) {
    margin: 0;
    padding: 0;
    color: #4d4d4d;
    background: linear-gradient(to right, #3a7fd5, #6ebce2);
}

:global(html) {

    overflow: -moz-scrollbars-none;
    color: white;
    font-size: 14px;
    font-family:
        system-ui,
        /* macOS 10.11-10.12 */
        -apple-system,
        /* Windows 6+ */
        "Segoe UI",
        /* Android 4+ */
        "Roboto",
        /* Ubuntu 10.10+ */
        "Ubuntu",
        /* Gnome 3+ */
        "Cantarell",
        /* KDE Plasma 5+ */
        "Noto Sans",
        /* fallback */
        sans-serif,
        /* macOS emoji */
        "Apple Color Emoji",
        /* Windows emoji */
        "Segoe UI Emoji",
        /* Windows emoji */
        "Segoe UI Symbol",
        /* Linux emoji */
        "Noto Color Emoji";
}

:global(a),
:global(a:visited) {
    /* color: inherit;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    width: 100%;
    display: flex; */

}

:global(span) {
    display: inline-block !important;
}
