.root {
    -st-states: typeColumn(enum(id, position, status, extn, salary)), sortName, ;
    width: 100%;
}

.root:typeColumn(id) {
    width: 28%;
}

.root:typeColumn(position) {
    width: 121%;
}

.root:typeColumn(status) {
    width: 50%;
}

.root:typeColumn(extn) {
    width: 50%;
}

.root:typeColumn(salary) {
    width: 70%;
}

.titleColumn {
    -st-states: isSorted;
    margin: 0;
    background-color: #514943;
    color: #fff;
    padding: 10px;
    border: 0.1rem solid #8a837f;
    border-right: none;
    width: 100%;
    position: relative;
}

.titleColumn:last-child {
    border-right: 0.1rem solid #8a837f;
}

.titleColumn > svg {
    position: absolute;
    right: 10px;
    display: none;
}

.titleColumn > span > svg {
    position: absolute;
    right: 10px;
    top: 10px;
}

.root:sortName .titleColumn:isSorted > svg {
    display: inline-block;
}

.root:sortName .titleColumn:isSorted > span > svg {
    display: none;
}
